spring:
  config:
    activate:
      on-profile: dev

  data:
    redis:
      host: localhost
      port: 6379
      password: ${REDIS_PASSWORD}
  mongodb:
    uri: mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@localhost:27017/${MONGO_DB_NAME}?authSource=admin