spring:
  config:
    activate:
      on-profile: dev

  data:
    redis:
      host: localhost
      port: 6379
      password: redis123
  mongodb:
    uri: mongodb://admin:admin123@localhost:27017/chat_app?authSource=admin