spring:
  config:
    activate:
      on-profile: dev

  data:
    redis:
      host: localhost
      port: 6379
      password: ${REDIS_PASSWORD}
      timeout: 5000
      connect-timeout: 5000
  mongodb:
    uri: mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@localhost:27017/${MONGO_DB_NAME}?authSource=admin

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${SMTP_USERNAME}
    password: ${SMTP_PASSWORD}
    from: noreply@cenamessenger.com
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

jwt:
  #not really secret i mean
  secret-key: 1fadac3bc9f37d2730694dccd8da38a03f67be4f89f23ac98306d3c47b71a631
  access-token-validity: 3600000
  refresh-token-validity: 2592000000

minio:
  endpoint: http://localhost:9000
  access-key: ${MINIO_ROOT_USER}
  secret-key: ${MINIO_ROOT_PASSWORD}
  bucket-name: chat-media
  presigned-url-expiry: 300
  connect-timeout: 5000
  write-timeout: 10000
  read-timeout: 10000

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
      base-path: /actuator
  endpoint:
    health:
      show-details: when-authorized
      probes:
        enabled: true
      group:
        readiness:
          include: mongo,redis
          show-details: always
        liveness:
          show-details: always
  health:
    defaults:
      enabled: false
    mongo:
      enabled: false
    redis:
      enabled: false
    mail:
      enabled: false
